# .NET
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio
.vs/
*.user
*.userosscache
*.sln.docstates
*.suo

# VS Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# JetBrains
.idea/

# Environment Variables
.env
.env.local
.env.*.local

# Docker
.dockerignore

# OS
.DS_Store
Thumbs.db

# User Secrets
secrets.json

# EF Core Tools
*.db
*.db-shm
*.db-wal
